
html,body{
    /* height: 100%; */
}

body{
    background: repeating-linear-gradient(45deg,#0004ff,#e20e71 100%);
    text-align: center;
    background-attachment: fixed;
    overflow: hidden;
}

h1{
    font-family: 'Bangers', cursive;
    font-size: 10rem;
}

.container {
    display: flex;
    padding: 25px;
    width: fit-content;
    margin: 10px 15%;
    height: fit-content;
}

.container a {
    color: white;
    font-size: 3em;
    border: 2px solid white;
    padding: 10px;
    background: #2cdac3c2;
    text-decoration: none;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0px 0px 10px white;
    text-shadow: -1px -2px 15px black;
    width: 100%;
    transition: background 1s;
}
a:hover{
    background: #2cdac380;
    transform: translateX(10px);
}

.autor {
	position: fixed;
	bottom: 1%;
	right: 1%;
	background-color: rgba(255, 0, 21, 0.678);
	color: white;
	padding: 10px;
	font-weight: bolder;
}

.brain-img{
    position: absolute;
    top: 40%;
    left: 60%;
    width: 420px;
    z-index: -1;
}

@media only screen and (min-width: 320px) and (max-width:  450px){
    body{
        zoom: 60%;
    }    
    .container{
        margin: 10px 0%;
    }
}

@media only screen and (min-width: 450px) and (max-width: 1023px) {
    body{
            zoom: 80%;
        }
        .container{
            margin: 10px 5%;
        }
    
  }